<div class="layout">
  <div class="columns" data-overflow-max-cols="1" data-overflow-counter="true">
    <div class="column">
      {% assign sorted_mentions = children | sort: "wm-received" | reverse %}
      {% assign max = max_mentions | default: 100 %}
      {% assign count = 0 %}
      {% for mention in sorted_mentions %}
        {% if count < max %}
          {% assign count = count | plus: 1 %}
          <div class="item">
            <div class="meta"></div>
            <div class="content flex--grow">
              <div class="flex gap--small flex--center-y">
                <span class="title title--small" data-clamp="1">
                  {% render 'author_name', author: mention.author %}
                </span>
                <span class="label label--small label--inverted">
                  {{ mention.wm-received | date: "%b %d" }}
                </span>
              </div>
              <div class="flex gap--small">
                <span class="label label--small">From:</span>
                <span class="label label--small label--underline" data-clamp="1">
                  {% render 'clean_domain', url: mention.url %}
                </span>
              </div>
              <div class="flex gap--small">
                <span class="label label--small">Mentioned:</span>
                <span class="label label--small label--underline" data-clamp="1">
                  {% render 'url_path', url: mention.wm-target %}
                </span>
              </div>
            </div>
            <div class="ml--auto pl--small">
              {% render 'qr_code', url: mention.url %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://webmention.io/img/webmention-logo-380.png" />
  <span class="title">Webmentions</span>
  <span class="instance">
    <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor" style="vertical-align: middle;">
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
    </svg>
    {% render 'recent_count', mentions: children %} / 30d · {{ "now" | date: '%s' | plus: trmnl.user.utc_offset | date: "%H:%M" }}
  </span>
</div><div class="layout">
  <div class="columns" data-overflow-max-cols="1" data-overflow-counter="true">
    <div class="column">
      {% assign sorted_mentions = children | sort: "wm-received" | reverse %}
      {% assign max = max_mentions | default: 100 %}
      {% assign count = 0 %}
      {% for mention in sorted_mentions %}
        {% if count < max %}
          {% assign count = count | plus: 1 %}
          <div class="item">
            <div class="meta"></div>
            <div class="content flex--grow">
              <div class="flex gap--small flex--center-y">
                <span class="title title--small" data-clamp="1">
                  {% render 'author_name', author: mention.author %}
                </span>
                <span class="label label--small label--inverted">
                  {{ mention.wm-received | date: "%b %d" }}
                </span>
              </div>
              <div class="flex gap--small">
                <span class="label label--small">From:</span>
                <span class="label label--small label--underline" data-clamp="1">
                  {% render 'clean_domain', url: mention.url %}
                </span>
              </div>
              <div class="flex gap--small">
                <span class="label label--small">Mentioned:</span>
                <span class="label label--small label--underline" data-clamp="1">
                  {% render 'url_path', url: mention.wm-target %}
                </span>
              </div>
            </div>
            <div class="ml--auto pl--small">
              {% render 'qr_code', url: mention.url %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<div class="title_bar">
  <img class="image" src="https://webmention.io/img/webmention-logo-380.png" />
  <span class="title">Webmentions</span>
  <span class="instance">
    <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor" style="vertical-align: middle;">
      <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
    </svg>
    {% render 'recent_count', mentions: children %} / 30d · {{ "now" | date: '%s' | plus: trmnl.user.utc_offset | date: "%H:%M" }}
  </span>
</div>